@use "../variables"
@use "../mixin"

.main
    width: 100vw
    height: calc( 100vh - 15vh + 4vh)
    background: variables.$white
    margin-top: -4vh
    border-top-left-radius: 30px
    border-top-right-radius: 30px
    padding: 30px 20px 0px 20px
    .modal
        width: 100%
        min-height: 100vh
        position: absolute
        top: 0
        left: 0
