@use "../../../styles/mixin"
@use "../../../styles/variables"
.container
    display: none
@media screen and (min-width: 768px)
    .container
        display: block
        width: 250px
        margin-top: 60px

        section
            width: 100%
            @include mixin.flex(column, center, flex-start)
            background: #FAFAFA
            box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1)
            border-radius: 10px
            padding: 30px 35px

            h1
                color: #2F2F2F
                margin-bottom: 25px
                @include mixin.fontStyle(variables.$font-default, normal, 700, 1.8rem, 2.1rem)

            strong
                color: #2F2F2F
                margin-bottom: 15px
                width: 100%
                display: flex
                justify-content: space-between

                .profit
                    color: #645FFB

                .expenses
                    color: #FA8C10

                .balance
                    color: #3A9FF1
            .border
                width: 100%
                padding-bottom: 15px
                border-bottom: 1px solid #EAEAEA

        button
            width: 100%
            background: variables.$violet
            color: #fff
            padding: 20px 0px
            @include mixin.fontStyle(variables.$font-default, normal, 700, 1.4rem, 1.7rem)
            margin-top: 20px

        button:hover
            background: variables.$violet-hover
